In [107]:
import pandas as pd

In [108]:
df = pd.read_excel("collection.xlsx")
df.head()

,Program,Collections,External User Id,User Name,User Email,Removed From Program,Course Name,Course ID,Partner Name(s),Module,...,Item,Item Order,Attempt Grade,Grade After Override,Is Attempt Passed,Attempt Timestamp (UTC),Item Attempt Number,Is Course Passed,Content Engagement,Learning Hours
0,CU Gen Ed : KNOW ACCUM III (2022/1),collection,6.238237e+09,Abhijeet Baghel,6238237221@student.chula.ac.th,No,"Foundations: Data, Data, Everywhere",kvb6uMbTEeqZOA5eKDHL-w,Google,Introducing data analytics,...,*Weekly challenge 1*,1,0.2188,NaN,No,2023-02-09T18:04:05.840Z,1,Yes,86.44,5.5494
1,CU Gen Ed : KNOW ACCUM III (2022/1),collection,6.238237e+09,Abhijeet Baghel,6238237221@student.chula.ac.th,No,"Foundations: Data, Data, Everywhere",kvb6uMbTEeqZOA5eKDHL-w,Google,Introducing data analytics,...,*Weekly challenge 1*,1,0.4063,NaN,No,2023-02-09T18:06:23.260Z,2,Yes,86.44,5.5494
2,CU Gen Ed : KNOW ACCUM III (2022/1),collection,6.238237e+09,Abhijeet Baghel,6238237221@student.chula.ac.th,No,"Foundations: Data, Data, Everywhere",kvb6uMbTEeqZOA5eKDHL-w,Google,Introducing data analytics,...,*Weekly challenge 1*,1,0.9375,NaN,Yes,2023-02-09T18:11:16.579Z,3,Yes,86.44,5.5494
3,CU Gen Ed : KNOW ACCUM III (2022/1),collection,6.238237e+09,Abhijeet Baghel,6238237221@student.chula.ac.th,No,"Foundations: Data, Data, Everywhere",kvb6uMbTEeqZOA5eKDHL-w,Google,All about analytical thinking,...,*Weekly challenge 2*,2,0.875,NaN,Yes,2023-02-10T04:59:17.173Z,1,Yes,86.44,5.5494
4,CU Gen Ed : KNOW ACCUM III (2022/1),collection,6.238237e+09,Abhijeet Baghel,6238237221@student.chula.ac.th,No,"Foundations: Data, Data, Everywhere",kvb6uMbTEeqZOA5eKDHL-w,Google,The wonderful world of data,...,*Weekly challenge 3*,3,0.125,NaN,No,2023-02-11T17:47:58.545Z,1,Yes,86.44,5.5494

In [109]:
df.columns

Index(['Program', 'Collections', 'External User Id', 'User Name', 'User Email',
       'Removed From Program', 'Course Name', 'Course ID', 'Partner Name(s)',
       'Module', 'Lesson', 'Item', 'Item Order', 'Attempt Grade',
       'Grade After Override', 'Is Attempt Passed', 'Attempt Timestamp (UTC)',
       'Item Attempt Number', 'Is Course Passed', 'Content Engagement',
       'Learning Hours'],
      dtype='object')

In [110]:
df.drop(['Program','Collections','External User Id', 'User Email','Removed From Program', 'Course ID',
       'Partner Name(s)', 'Item', 'Item Order', 'Attempt Grade', 'Grade After Override',
       'Attempt Timestamp (UTC)', 'Item Attempt Number'], axis=1 , inplace=True)
df.head()

,User Name,Course Name,Module,Lesson,Is Attempt Passed,Is Course Passed,Content Engagement,Learning Hours
0,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Introducing data analytics,*Weekly challenge 1*,No,Yes,86.44,5.5494
1,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Introducing data analytics,*Weekly challenge 1*,No,Yes,86.44,5.5494
2,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Introducing data analytics,*Weekly challenge 1*,Yes,Yes,86.44,5.5494
3,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",All about analytical thinking,*Weekly challenge 2*,Yes,Yes,86.44,5.5494
4,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",The wonderful world of data,*Weekly challenge 3*,No,Yes,86.44,5.5494

In [111]:
df.head(10)

,User Name,Course Name,Module,Lesson,Is Attempt Passed,Is Course Passed,Content Engagement,Learning Hours
0,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Introducing data analytics,*Weekly challenge 1*,No,Yes,86.44,5.5494
1,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Introducing data analytics,*Weekly challenge 1*,No,Yes,86.44,5.5494
2,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Introducing data analytics,*Weekly challenge 1*,Yes,Yes,86.44,5.5494
3,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",All about analytical thinking,*Weekly challenge 2*,Yes,Yes,86.44,5.5494
4,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",The wonderful world of data,*Weekly challenge 3*,No,Yes,86.44,5.5494
5,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",The wonderful world of data,*Weekly challenge 3*,No,Yes,86.44,5.5494
6,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",The wonderful world of data,*Weekly challenge 3*,No,Yes,86.44,5.5494
7,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",The wonderful world of data,*Weekly challenge 3*,No,Yes,86.44,5.5494
8,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",The wonderful world of data,*Weekly challenge 3*,Yes,Yes,86.44,5.5494
9,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Set up your toolbox,*Weekly challenge 4*,Yes,Yes,86.44,5.5494

In [112]:
df.columns

Index(['User Name', 'Course Name', 'Module', 'Lesson', 'Is Attempt Passed',
       'Is Course Passed', 'Content Engagement', 'Learning Hours'],
      dtype='object')

## Count number of student

In [113]:
pd.unique(df['User Name']).shape

(303,)

## % Engagement

In [117]:
relt_df = df[(df['Lesson']== "*Course challenge*") | (df['Lesson']== "Course challenge")]
print(relt_df.shape)
relt_df.head()

(677, 8)

,User Name,Course Name,Module,Lesson,Is Attempt Passed,Is Course Passed,Content Engagement,Learning Hours
13,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Endless career possibilities,*Course challenge*,Yes,Yes,86.44,5.54940
18,Adiraja Sadaeng,Ask Questions to Make Data-Driven Decisions,Always remember the stakeholder,*Course challenge*,Yes,Yes,57.57,1.57943
24,Adiraja Sadaeng,"Foundations: Data, Data, Everywhere",Endless career possibilities,*Course challenge*,Yes,Yes,97.19,8.19274
29,Adiraja Sadaeng,Prepare Data for Exploration,*Course challenge*,*Course challenge*,Yes,Yes,74.33,6.69554
41,Akapol Pornratanaraksa,Ask Questions to Make Data-Driven Decisions,Always remember the stakeholder,*Course challenge*,No,Yes,74.24,4.24414

In [118]:
relt_df = relt_df[relt_df['Is Attempt Passed']== "Yes"]
print(relt_df.shape)
relt_df.head(100)

(605, 8)

,User Name,Course Name,Module,Lesson,Is Attempt Passed,Is Course Passed,Content Engagement,Learning Hours
13,Abhijeet Baghel,"Foundations: Data, Data, Everywhere",Endless career possibilities,*Course challenge*,Yes,Yes,86.44,5.54940
18,Adiraja Sadaeng,Ask Questions to Make Data-Driven Decisions,Always remember the stakeholder,*Course challenge*,Yes,Yes,57.57,1.57943
24,Adiraja Sadaeng,"Foundations: Data, Data, Everywhere",Endless career possibilities,*Course challenge*,Yes,Yes,97.19,8.19274
29,Adiraja Sadaeng,Prepare Data for Exploration,*Course challenge*,*Course challenge*,Yes,Yes,74.33,6.69554
42,Akapol Pornratanaraksa,Ask Questions to Make Data-Driven Decisions,Always remember the stakeholder,*Course challenge*,Yes,Yes,74.24,4.24414
...,...,...,...,...,...,...,...,...
794,Danita Chotsophonkitti,"Foundations: Data, Data, Everywhere",Endless career possibilities,*Course challenge*,Yes,Yes,91.58,5.46442
800,Danita Chotsophonkitti,Prepare Data for Exploration,*Course challenge*,*Course challenge*,Yes,Yes,97.32,5.65134
807,Danop Leenukul,Analyze Data to Answer Questions,Performing data calculations,Course challenge,Yes,Yes,79.81,6.11718
812,Danop Leenukul,Ask Questions to Make Data-Driven Decisions,Always remember the stakeholder,*Course challenge*,Yes,Yes,89.39,6.06748
825,Danop Leenukul,"Foundations: Data, Data, Everywhere",Endless career possibilities,*Course challenge*,Yes,Yes,86.44,7.40858

## Avg time in Course 1

In [119]:
# à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸—à¸µà¹ˆà¸œà¹ˆà¸²à¸™ Course1
c1 = relt_df[relt_df['Course Name']== "Foundations: Data, Data, Everywhere"]
print(c1.shape[0])
pect_c1 = (c1.shape[0]/303)*100
pect_c1

206

67.98679867986799

In [131]:
# à¸ˆà¸³à¸™à¸§à¸™à¹€à¸§à¸¥à¸²à¸—à¸µà¹ˆà¹ƒà¸Šà¹‰à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¹ƒà¸™ Course 1
c1 = relt_df[relt_df['Course Name']== "Foundations: Data, Data, Everywhere"]
hourc1 = c1["Learning Hours"].sum()
hourc1/c1.shape[0]

7.927146359223301

In [121]:
# à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸—à¸µà¹ˆà¸œà¹ˆà¸²à¸™ Course2
c2 = relt_df[relt_df['Course Name']== "Ask Questions to Make Data-Driven Decisions"]
print(c2.shape[0])
pect_c2 = (c2.shape[0]/303)*100
pect_c2

158

52.14521452145215

In [132]:
# à¸ˆà¸³à¸™à¸§à¸™à¹€à¸§à¸¥à¸²à¸—à¸µà¹ˆà¹ƒà¸Šà¹‰à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¹ƒà¸™ Course 2
c2 = relt_df[relt_df['Course Name']== "Ask Questions to Make Data-Driven Decisions"]
hourc2 = c2["Learning Hours"].sum()
hourc2/c2.shape[0]

5.942138734177216

In [123]:
# à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸—à¸µà¹ˆà¸œà¹ˆà¸²à¸™ Course3
c3 = relt_df[relt_df['Course Name']== "Prepare Data for Exploration"]
print(c3.shape[0])
pect_c3 = (c3.shape[0]/303)*100
pect_c3

115

37.95379537953795

In [133]:
# à¸ˆà¸³à¸™à¸§à¸™à¹€à¸§à¸¥à¸²à¸—à¸µà¹ˆà¹ƒà¸Šà¹‰à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¹ƒà¸™ Course 3
c3 = relt_df[relt_df['Course Name']== "Prepare Data for Exploration"]
hourc3 = c3["Learning Hours"].sum()
hourc3/c3.shape[0]

6.056355130434783

In [126]:
pd.unique(relt_df['Course Name'])

array(['Foundations: Data, Data, Everywhere',
       'Ask Questions to Make Data-Driven Decisions',
       'Prepare Data for Exploration', 'Analyze Data to Answer Questions',
       'Process Data from Dirty to Clean'], dtype=object)

In [127]:
# à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸—à¸µà¹ˆà¸œà¹ˆà¸²à¸™ Course4
c4 = relt_df[relt_df['Course Name']== "Process Data from Dirty to Clean"]
print(c4.shape[0])
pect_c4 = (c4.shape[0]/303)*100
pect_c4

74

24.422442244224424

In [134]:
# à¸ˆà¸³à¸™à¸§à¸™à¹€à¸§à¸¥à¸²à¸—à¸µà¹ˆà¹ƒà¸Šà¹‰à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¹ƒà¸™ Course 4
c4 = relt_df[relt_df['Course Name']== "Process Data from Dirty to Clean"]
hourc4 = c4["Learning Hours"].sum()
hourc4/c4.shape[0]

5.87489581081081

In [135]:
# à¹€à¸›à¸­à¸£à¹Œà¹€à¸‹à¹‡à¸™à¸—à¸µà¹ˆà¸œà¹ˆà¸²à¸™ Course5
c5 = relt_df[relt_df['Course Name']== "Analyze Data to Answer Questions"]
print(c5.shape[0])
pect_c5 = (c5.shape[0]/303)*100
pect_c5

52

17.16171617161716

In [136]:
# à¸ˆà¸³à¸™à¸§à¸™à¹€à¸§à¸¥à¸²à¸—à¸µà¹ˆà¹ƒà¸Šà¹‰à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¹ƒà¸™ Course 5
c5 = relt_df[relt_df['Course Name']== "Analyze Data to Answer Questions"]
hourc5 = c5["Learning Hours"].sum()
hourc5/c5.shape[0]

4.854382692307692